@CHARSET "ISO-8859-1";

		* {
            margin: 0;
            padding: 0;
        }
        html,body {
            height:100%;
            text-align: center
          
        }
        /* Div que engloba el contenido de la página menos el footer */
        #wrapper {
            min-height:100%;
               background-image: url("../imagenes/fondo.jpg");  
        }
        header {
       	 position: relative;
        	height: 130px; 
            background-image: url("../imagenes/footer.png");
            padding:10px 0px;
            text-align: center
        }
        section {
            overflow: auto;
            /* Definimos el padding inferior:
               50px del pie de pagina mas 10px de separacion
            */
            
            padding-bottom: 0px;
            /* Definimos un padding superior */
             padding-top:170px;
        }
        footer {
            position: relative;
            /* Altura total del footer en px con valor negativo */
            margin-top: -35px;
            /* Altura del footer en px. Se han restado los 5px del margen
               superior mas los 5px del margen inferior
            */
            height: 25px; 
            padding:5px 0px;
            clear: both;
            background-image: url("../imagenes/footer.png");
            text-align: center;
            color: #fff;
        }
        h4.rigths{
			font-size: 12px;
			text-align: right;
   			color: #fff;
		}
        
        /* Esta clase define la anchura del contenido y la posicion centrada 
           El contenido queda centrado y limitado, pero la cabecera y el pie
           llegan hasta los limites del navegador.
        */
        .define {
            width:1100px;
            margin:0 auto;
        }
        
        table {
        border: 0;
     
       text-align:center;
       color: #fff;
       cellpadding: 10px; 
       cellspacing: 10px; 
       width: 85%;
       }
       
       tr.color {
       background-color:#0B4C5F;
       bordercolor: #0B4C5F;
       }
       th.colorth {
       background-color:#0B4C5F;
        bordercolor: #0B4C5F;
       }
       
       

.buttons input {
    margin: 5px;
    padding: 5px 5px 5px 20px; /* 20px makes room for your background image */
    border: 1px solid #aaa;
}

.buttons .apply {
    background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  text-align: center;
  text-shadow: 0 -1px 1px #1e2d4d;
  width: 100px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0 20px 1px #87adff, 0 1px 0 #1d2c4d, 0 6px 0 #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 58px; 
} 

.buttons .cross {
    background: #eee url("../imagenes/pie.png") no-repeat 0 50%;
} 